<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <title>{{ page.title }} | Dr. {{ site.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  </head>
  <body>
    <header class="page-header" role="banner">
      <h1 class="project-name">Dr. {{ site.title }}</h1>
      <h2 class="project-tagline">{{ site.description }}</h2>
      
      <!-- Add your custom navigation -->
      <nav>
        <a href="{{ '/' | relative_url }}" class="btn">Home</a>
        <a href="{{ '/research' | relative_url }}" class="btn">Research</a>
        <a href="{{ '/teaching' | relative_url }}" class="btn">Teaching</a>
        <a href="{{ '/publications' | relative_url }}" class="btn">Publications</a>
        <a href="{{ '/cv' | relative_url }}" class="btn">CV</a>
      </nav>
    </header>

    <main id="content" class="main-content" role="main">
      {{ content }}
      
      <footer class="site-footer">
        <span class="site-footer-owner">
          <!--<a href="{{ site.github.repository_url }}">{{ site.title }}</a> 
          is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a>.-->
          <a href="{{ site.github.repository_url }}">This site</a> 
          is maintained by <a href="{{ site.github.owner_url }}">{{ site.title }}</a>.
        </span>
      </footer>
    </main>
  </body>
</html>
